/* Write your CSS here */
.bg-container {
  background-color: #ffd569;
  min-height: 100vh;
  min-width: 100vw;
  padding: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  min-height: 60%;
  border-radius: 10px;
  margin: 20px;
}
@media screen and (min-width: 768px) {
  .content-container {
    min-height: 85%;
  }
}
.heading {
  color: #000000;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .heading {
    font-size: 45px;
  }
}
.fruit-list-container {
  display: flex;
}
.fruits-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 35px;
}

.count {
  color: #ffd569;
}
.image {
  height: 20vh;
  width: 10vw;
}
@media screen and (min-width: 768px) {
  .image {
    min-height: 400px;
    min-width: 300px;
  }
}
.button {
  background-color: #007bff;
  color: #ffffff;
  padding: 5px;
  border: 0px solid;
  border-radius: 8px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}
@media screen and (min-width: 768px) {
  .button {
    font-size: 30px;
  }
}
